body {
    background-color: blue;
}


img {
    border-radius: 80px;
    margin-top: 3%;
    margin-left: 46%;
    width:110px ;
}

h1 {
    margin-left: 42%;
}

button {
    display: flex;
    flex-direction: column;
    margin-left: 47%;
    width: 5%;
}